logs
*.log
npm-debug.log*
.DS_Store

coverage
node_modules
build
public/static
.env.local
.env.development.local
.env.test.local
.env.production.local

.*.sw*

serviceAccountKey.json
functions/.runtimeconfig.json
.runtimeconfig.json
runtimeconfig-*.json
cloud_sql_proxy

.firebase
/functions/dist
/functions/render.*
/functions/package.json
/env.sh
/service-account.json
